<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<title>{% block title %}{% endblock %}meet Games</title>
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
		{% endblock %}
	</head>
	<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
	    <ul class="flashes">
	        {% for message in messages %}
	        <div class="message_flash">{{ message }}</div>
	        {% endfor %}
	    </ul>
	  	{% endif %}
	{% endwith %}
	{% block body %}
	{% endblock %}
	</body>
</html>