<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login | meet Games</title>
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <!-- Bootstrap Core CSS -->
	    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

	    <!-- Custom CSS -->
	    <link href="{{ url_for('static', filename='css/1-col-portfolio.css') }}" rel="stylesheet">
	    <link href="{{ url_for('static', filename='css/mystyles.css') }}" rel="stylesheet">
	</head>
	<body style="padding-top: 20px;">
		<div class="container" style="text-align: center;">
			<div class="row" style="padding-bottom: 10px;">
				<img src="{{ url_for('static', filename='fulllogo1.png') }}" height="100px">
			</div>
			<div class="row">
				<h3>Welcome to meet games! To enter, please sign in with google.</h2>
			</div>
			<div class="row">
				<a href="{{ url_for('login') }}"><img src="{{ url_for('static', filename='signin2.png') }}" height="47" width="250"></a>
			</div>
		</div>
	</body>
</html>